@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/ofont.ru_Montserrat.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/montserrat-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wraper {
  z-index: 1;
  top: 0;
  left: 0;
  height: 692px;
  position: absolute;
  width: 100%;
}
.wraper .slider {
  top: 0;
  left: 0;
}
.wraper .slider .slick-list {
  overflow: hidden;
}
.wraper .slider .slick-track {
  display: flex;
  height: 692px;
}
.wraper .slider .slick-current {
  width: 100%;
  height: 100%;
}
.wraper .slider .slick-active {
  transition: all 1s 1s;
  transform: scale(1.2);
}

.black {
  top: 0;
  left: 0;
  height: 692px;
  z-index: 2;
  background-color: black;
  width: 100%;
  opacity: 0.3;
  position: absolute;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid rgba(83, 92, 100, 0.5);
}
header .container {
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  font-size: 35px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  color: white;
}
header .container .logo span {
  color: #f2c26b;
}
header .container nav {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav a {
  text-decoration: none;
  margin-right: 40px;
  font-family: "Montserrat Regular";
  color: #bfbfbf;
  color: white;
  cursor: pointer;
  font-weight: 400;
}
header .container nav a:hover {
  transition: all 1s;
  color: yellow;
}
header .container .tel a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
header .container .tel a:hover {
  transition: all 1s;
  color: #ffc359;
}

main {
  position: relative;
  z-index: 10;
}
main h1 {
  margin-top: 110px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 22px;
  max-width: 490px;
  font-family: "Montserrat Semibold";
  color: #ffffff;
}
main p {
  color: rgba(255, 255, 255, 0.8);
  max-width: 295px;
  margin-bottom: 55px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
}
main form {
  display: flex;
  justify-content: space-evenly;
  background: #252525;
  border-radius: 2px;
  height: 112px;
  width: 815px;
}
main form input {
  margin-top: 30px;
  height: 38px;
  max-width: 200px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #252525;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(166, 166, 166, 0.6);
  padding: 10px 0;
  font-family: "Montserrat Regular";
  transition: 0.3s;
}
main form .button {
  width: 330px;
  height: 46px;
  display: block;
  border-radius: 2px;
  white-space: nowrap;
  background-color: #ffc359;
  color: black;
  font-size: 13px;
  cursor: pointer;
  padding: 1em 1.6em;
}

.hero {
  position: relative;
  margin-bottom: 150px;
  margin-top: 250px;
  background-color: white;
}
.hero h2 {
  font-size: 36px;
  line-height: 44px;
  color: #252525;
  margin-bottom: 44px;
  font-family: "Montserrat Semibold";
}
.hero .subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 660px;
  font-family: "Montserrat Regular";
}
.hero .sale-list {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
}
.hero .sale-list .sale-list-item {
  margin-top: 30px;
  padding: 25px 30px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.hero .sale-list .sale-list-item img {
  margin-right: 30px;
}
.hero .sale-list .sale-list-item .sale-list-item-inner {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.hero .sale-list .sale-list-item .sale-list-item-inner .title {
  font-family: "Montserrat Semibold";
  font-size: 20px;
  line-height: 24px;
}
.hero .mt {
  margin-top: 60px;
}
.hero .feature-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.hero .feature-list .feature-list-item {
  padding: 20px 25px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.hero .feature-list .feature-list-item img {
  margin-right: 30px;
}
.hero .feature-list .feature-list-item .title {
  font-family: "Montserrat Medium";
  font-size: 18px;
  line-height: 22px;
}

.product {
  background-color: black;
}
.product h2 {
  padding-top: 100px;
  font-family: "Montserrat Semibold";
  font-size: 30px;
  color: #f5f5f5;
}
.product .subtitle {
  margin: 22px 0;
  color: rgba(255, 255, 255, 0.8);
  width: 612px;
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
}
.product .flex_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
.product .flex_product .item {
  display: flex;
  flex-direction: column;
}
.product .flex_product .item img {
  width: 539px;
  height: 280px;
  border: 2px solid white;
}
.product .flex_product .item h3 {
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  font-family: "Montserrat Semibold";
  font-size: 18px;
  color: #ddd;
  border-bottom: 1px solid #f2c26b;
}
.product .flex_product .item h3 .name {
  font-family: "Montserrat Semibold";
  color: #f2c26b;
  font-size: 18px;
}
.product .flex_product .item h3 .metr {
  font-family: "Montserrat Regular";
  color: #b6b6b6;
  font-size: 18px;
  margin-left: 22px;
}
.product .flex_product .item .price {
  font-family: "Montserrat Medium";
  font-size: 16px;
  color: #bbbbbb;
  margin: 16px 0 11px;
}
.product .flex_product .item .srock {
  margin-top: 10px;
  font-family: "Montserrat Medium";
  font-size: 14px;
  color: #b5b5b5;
  margin-bottom: 60px;
}

.form-section {
  height: 274px;
  background: #252525;
  padding-top: 70px;
}
.form-section .container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}
.form-section .container .one_wraper {
  width: 50%;
}
.form-section .container .one_wraper h2 {
  font-size: 25px;
  font-family: "Montserrat Semibold";
  line-height: 30px;
  margin-bottom: 15px;
  color: #f5f5f5;
}
.form-section .container .one_wraper p {
  color: #848484;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  max-width: 660px;
  font-family: "Montserrat Regular";
}
.form-section .container .two_wraper {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form-section .container .two_wraper input {
  width: 460px;
  border: none;
  margin-bottom: 30px;
  outline: none;
  background-color: #252525;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  color: rgba(166, 166, 166, 0.6);
  padding: 10px 0;
  transition: 0.3s;
  font-family: "Montserrat Regular";
}
.form-section .container .two_wraper .button {
  position: relative;
  left: 40%;
  margin-left: -130px;
  display: block;
  cursor: pointer;
  width: 260px;
  text-align: center;
  height: 46px;
  background-color: #ffc359;
  background-color: #ffc359;
  color: black;
  font-size: 14px;
  font-family: "Montserrat Semibold";
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.form-section .container .two_wraper .button:hover {
  transition: 0.9s;
  background-color: white;
}

.drawing {
  background-color: white;
  width: 100%;
}
.drawing .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawing .container img {
  max-width: 50%;
}
.drawing .container h2 {
  margin-top: 90px;
  max-width: 50%;
  font-size: 36px;
  line-height: 44px;
  color: #252525;
  margin-bottom: 44px;
  font-family: "Montserrat Semibold";
}

.advantages {
  background-color: white;
  margin-bottom: 50px;
}
.advantages h2 {
  margin-top: 94px;
  font-size: 36px;
  line-height: 44px;
  color: #252525;
  margin-bottom: 84px;
  font-family: "Montserrat Semibold";
  overflow-wrap: break-word;
}
.advantages .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages .flex .item {
  width: 300px;
  margin-right: 45px;
  margin-bottom: 65px;
}
.advantages .flex .item h3 {
  font-size: 20px;
  line-height: 24px;
  color: #252525;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-family: "Montserrat Bold";
}
.advantages .flex .item p {
  font-size: 14px;
  line-height: 17px;
  color: #252525;
  position: relative;
  z-index: 1;
  font-family: "Montserrat Regular";
}

.works {
  width: 100%;
  background-color: black;
}
.works h2 {
  padding-top: 25px;
  margin-bottom: 20px;
  font-family: "Montserrat Semibold";
  font-size: 30px;
  color: #f5f5f5;
  overflow-wrap: break-word;
}
.works p {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
  max-width: 660px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat Regular";
}

.works_slider_container {
  margin: 0 auto;
  height: 480px;
  width: 980px;
}
.works_slider_container .works_slider {
  position: relative;
  padding: 0px 60px;
  min-width: 0;
  top: 0;
  left: 0;
}
.works_slider_container .works_slider .slick-list {
  border-radius: 6px;
  overflow: hidden;
}
.works_slider_container .works_slider .slick-track {
  min-width: 0;
  height: 450px;
}
.works_slider_container .works_slider .slick-current {
  width: 100%;
  height: 100%;
}
.works_slider_container .works_slider .slick-current img {
  width: 100%;
  height: 100%;
}
.works_slider_container .works_slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ffc107;
  cursor: pointer;
  transition: opacity 1s;
}
.works_slider_container .works_slider .slick-arrow:hover {
  opacity: 0.6;
}
.works_slider_container .works_slider .slick-prev {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/aroow.png");
  left: -50px;
}
.works_slider_container .works_slider .slick-next {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/aroow.png");
  transform: rotate(180deg);
  right: -50px;
}

.contacts {
  background-color: white;
}
.contacts .contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contacts .contact h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
  line-height: 44px;
  color: #252525;
  font-family: "Montserrat Semibold";
  margin-bottom: 20px;
}
.contacts .contact a {
  margin-top: 20px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #252525;
  font-family: "Montserrat Regular";
  font-size: 16px;
  font-weight: 800;
}
.contacts .contact a span {
  font-weight: 400;
}
.contacts .contact .adress_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .contact .adress_one p {
  font-size: 20px;
  font-weight: 400;
  width: 50%;
  font-family: "Montserrat Semibold";
}
.contacts .contact .adress_one .map {
  margin-left: 10px;
  border: 2px solid #ffc107;
  border-radius: 6px;
}
.contacts .contact .adress_one .map iframe {
  height: 350px;
  width: 500px;
}
.contacts .contact .adress_two {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .contact .adress_two p {
  font-size: 20px;
  font-weight: 400;
  width: 50%;
  font-family: "Montserrat Semibold";
}
.contacts .contact .adress_two .map {
  margin-left: 10px;
  border: 2px solid #ffc107;
  border-radius: 6px;
}
.contacts .contact .adress_two .map iframe {
  height: 350px;
  width: 500px;
}

footer {
  height: 80px;
  background-color: black;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
footer .container .logo {
  font-size: 30px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  color: white;
}
footer .container .logo span {
  color: #f2c26b;
}
footer .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc359;
  width: 260px;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: "Montserrat Semibold";
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  height: 46px;
  transition: background-color 1.5s;
}
footer .container a:hover {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */